.twoChoiceForm{
    display: flex;
    /* flex-direction: column; */
    flex-wrap: wrap;
    gap: 15px;
    margin: auto;
    margin-top: 20px;
    width: 90%;
}

.twoChoiceOption1, .twoChoiceOption2{
    width: 40%;
    min-width: 250px;
    flex: 1 0 10rem;
}

.twoChoiceOption2{

}

.twoChoiceSubmit{
    background-color: var(--darkblue);
    color: white;
    font-size: 1.5rem;
    border: none;
    border-radius: 7px;
    outline: none;
    margin: auto;
    margin-top: 20px;
    width: 100%;
    height: 50px;
    cursor: pointer;
}

.twoChoiceSubmit:active{
    opacity: 0.8;
}

.extraButton{
    background-color: var(--darkgray);
    border: none;
    height: 30px;
    align-self: center;
    color: white;
    border-radius: 5px;
}

.twoChoiceForm > div{
    display: flex;
    align-items: center;
    width: 100%;
}

.addButton{
    background-color: var(--darkblue);
    border: none;
    height: 30px;
    align-self: center;
    color: white;
    border-radius: 5px;
    width: 80px;
    font-size: 1rem;
}

.answerSelector{
    height: 30px;
    width: 100px;
    background-color: var(--darkblue);
    color: white;
    outline: none;
    border-radius: 3px;
}