.asideContainer{
    width: 90%;
    margin: auto;
}

.friendContainer{
    background-color: rgb(222, 212, 212);
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 5px;
    padding: 3px;
    border-bottom: 1px solid lightgray;
    margin: 5px 0;
    border-radius: 5px;
}

.friendContainer:active{
    opacity: 0.8;
}

.chatContainer{
    width: 100%;
    height: 501px;
}

.loader{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.myCommunity{
    padding: 10px 5px;
    background: #373434;
    color: white;
    border-radius: 3px;
}