.homeOutletContainer {
    display: flex;
    /* height: 1000px; */
    height: fit-content;
    display: flex;
    position: relative;
    z-index: 1;
    /* margin-top: 80px; */
}

.homeContainer {
    margin: auto;
    width: 60%; /* Occupy 50% of the container */
    background-color: var(--whisper); /* Just for visualization */
    margin-top: 80px;
    /* margin-top: 80px; */
    z-index: 10;
    /* height: 1000px; */
    height: fit-content;
}

.leftAside,
.rightAside {
    width: 20%; /* 25% width for each aside */
    max-width: 20%;
    position: fixed; /* Fixed positioning */
    /* top: 80px; */
    top: 80px;
    bottom: 0;
    background-color: var(--white);
}

.leftAside {
    left: 0; /* Stick to the left */
    /* background-color: blue; */
}

.rightAside {
    right: 0; /* Stick to the right */
    /* background-color: green; */
    overflow-x: visible !important;
    z-index: 15;
}
