.signInMain{
    background-color: var(--lightblue);
    height: calc(100vh - 80px);
    width: 99vw;
    position: relative;
    font-family: inherit;
    overflow-x: hidden;
}

.signInContainer{
    background-color: var(--white);
    width: 30%;
    position: absolute;
    left: 35%;
    top: 30px;
    margin: auto;
    display: flex;
    flex-direction: column;
    border-radius: 15px;
}

.signInTopSection{
    width: 80%;
    margin: 50px auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.signInTopSection > h1{
    font-size: 2.5em;
    font-weight: 300;
    margin: 20px auto;
}

.signInTopSection > p{
    color: var(--lightgray);
}

.signInForm{
    display: flex;
    flex-direction: column;
    width: 50%;
    margin: auto;
    gap: 15px;
}

.signInContainer > button {
    background-color: var(--darkblue);
    color: var(--white);
    border: none;
    border-radius: 7px;
    width: 250px;
    height: 50px;
    font-size: 1.5em;
    font-weight: 300;
    margin: 50px auto;
    cursor: pointer;
    
}

.signInContainer > button:hover {
    opacity: 0.8;
}

.signInLinks{
    display: flex;
    justify-content: space-between;
}

.signInLinks > a {
    text-decoration: none;
    color: var(--lightgray);
}

.signInLinks > a:hover {
    color: #1111aa
}