.onePost{
    background-color: var(--white);
    width: 90%;
    margin: 0 auto 50px auto;
    border-radius: 10px;
    min-height: 500px;
    transition: all 0.2s ease-in;
}

.captionContainer{
    width: 100%;
    min-height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: red;
    /* margin: 50px auto; */
}

.postCaption{
    color: white;
    font-size: 1.3rem;
}

.pollFigure{
    /* min-height: 300px; */
    /* background-color: gray; */
    /* border: 1px solid gray; */
    /* background-color: #544f4f; */
}

.menuContainer{
    list-style: none;
    display: flex;
    justify-content: center;
    /* background-color: none; */
    padding: 5px;
    margin: 0;
    box-shadow: 0px 0px 3px rgb(136, 136, 136);
    border-radius: 5px;
}

.menuListItem:first-child{
    border-right: 1px solid lightgray;
}

.menuListItem:last-child{
    border-left: 1px solid lightgray;
}

.menuListItem{
    width: 33%;
    /* margin-bottom: 10px; */
}

.menuButton{
    border: none;
    height: 50px;
    width: 100%;
    font-size: 1.1rem;
    cursor: pointer;
    background-color: white;
    transition: all 0.2s;
    font-weight: 600;

}

.menuButton:hover{
    /* background-color: rgb(237, 236, 236); */
    /* background-color: rgb(247, 244, 233); */
    color: #4478c7;
}

.menuButton:active{
    /* background-color: #8ebbfd; */
    color: var(--darkblue);
}



.postTopSection{
    /* background-color: yellowgreen; */
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 95%;
    margin: 0 auto;
    padding: 20px 0;
}

.imageNameAndDate{
    display: flex;
    /* background-color: blue; */
}

.nameAndDate{
    /* background-color: yellow; */
    display: flex;
    flex-direction: column;
    position: relative;
    justify-content: center;
    align-items: center;
    margin-left: 20px;
}

.nameAndDate > p{
    font-size: 1.3rem;
}

.nameAndDate > span{
    position: absolute;
    bottom: 5%;
    left: 0;
    color: rgb(158, 158, 158);
}

.reportButtonParent{
    position: relative;
    padding: 20px;
    cursor: pointer;
    /* background-color: blue; */
}

.reportMenu {
    position: absolute;
    background-color: var(--darkgray);
    padding: 20px;
    list-style: none;
    color: white;
    border-radius: 7px;
}

.reportMenu > ul{
    list-style: none;
    padding: 0;
    margin: 0;
}

.commentSectionContainer{
    /* background-color: gray; */
    /* color: white; */
    color: black;
    border-radius: 7px;
}

.commentContainerName{
    margin: 0;
    font-size: 1.5rem;
    padding: 20px;
    font-weight: 200;
    background-color: var(--darkgray);
    /* box-shadow: 0px 3px 5px black; */
    color: white;
}

.singleCommentContainer{
    /* border: 1px solid black; */
    padding: 10px 0;
    border-bottom: 1px solid lightgray;
    width: 90%;
    margin: auto
}

.singleCommentTop{
    display: flex;
    gap: 5px;
}

.commentText{
    padding-left: 5px;
}

.commentName{
    margin: 0;
    align-self: center;
    font-weight: bold;
    font-size: 1.1rem;
}

.commentDate{
    align-self: center;
    color: var(--lightblue);
    font-style: italic;
}

.viewButton, .replyButton{
    border: none;
    background-color: inherit;
    font-size: 1rem;
    color: var(--lightblue);
    cursor: pointer;
}

.viewButton:active, .replyButton:active{
    opacity: 0.7;
}

.replyContainer{
    display: flex;
    flex-direction: column;
    padding: 1% 3%;
    background-color: rgb(222, 224, 246);
    margin-bottom: 5px;
    border-radius: 5px;
    margin-top: 13px;
}

.replySpan{
    color: var(--lightblue);
    font-style: italic;
}

.sendCommentContainer{
    /* background-color: red; */
    display: flex;
    align-items: center;
    margin: auto;
    margin-top: 30px;
    justify-content: center;
    gap: 10px;
    padding-bottom: 30px;
    width: 90%;
}

.sendButton{
    background-color: var(--darkgray);
    border: none;
    width: 100px;
    height: 57px;
    border-radius: 5px;
    font-size: 1rem;
    color: white;
    cursor: pointer;
}

.sendButton:active{
    background-color: #544f4f;
}

.loader{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}