.activationMain{
    background-color: var(--lightblue);
    height: calc(100vh - 80px);
    width: 99vw;
    position: relative;
    font-family: inherit;
    overflow-x: hidden;
}

.activationContainer{
    background-color: var(--white);
    width: 30%;
    position: absolute;
    left: 35%;
    top: 30px;
    margin: auto;
    display: flex;
    flex-direction: column;
    border-radius: 15px;
}

.activationTopSection{
    width: 80%;
    margin: 50px auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.activationTopSection > span{
    font-weight: 600;
}

.activationTopSection > h1{
    font-size: 2.5em;
    font-weight: 300;
    margin: 20px auto;
}

.activationTopSection > p{
    color: var(--lightgray);
    font-weight: 300;
}

.activationTopSection > span{
    color: var(--darkgray);
}

.activationSection{
    display: flex;
    flex-direction: column;
    width: 50%;
    margin: auto;
    gap: 15px;
    padding: 20px 40px;
    background-color: #e6e6e6;
    border-radius: 10px;
}

.activationSection h2{
    text-align: center;
}

.activationContainer > a{
    height: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}

.activationButton {
    background-color: var(--darkblue);
    color: var(--white);
    border: none;
    border-radius: 7px;
    width: 250px;
    height: 50px;
    font-size: 1.5em;
    font-weight: 300;
    margin: 50px auto;
    cursor: pointer;
}

.activationButton:hover {
    opacity: 0.8;
}

.activationParagraphs{
    text-align: left;
    display: flex;
    flex-direction: column;
    gap: 15px;
    font-weight: 300;
}